@using Microsoft.AspNetCore.Identity
@using SjonnieLoper.Core
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Reservations/ListReservation">Reservations</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Products/ListWhiskey">Products</a>
    </li>
}