@page "{productId:int}"
@model SjonnieLoper.Pages.Products.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<div class="alert alert-danger">
    Are you sure you want to delete @Model.Whiskey.Name?
</div>
<form method="POST">
    <a asp-page="ListWhiskey" class="btn btn-outline-info">Cancel
        <i class="fa fa-arrow-circle-left"></i>
    </a>
    <button type="submit" class="btn btn-outline-info">Delete 
        <i class="fa fa-trash"></i>
    </button>
    
</form>