@page "{whiskeyId:int}"
 @model SjonnieLoper.Pages.Products.EditModel 
@*
@Model =  Sjonnieloper.Pages.Products.Editmodel;                                                       
*@

@*
@{
    ViewData["Title"] = "Edit";
}
*@

<h1>Edit </h1>

<form method="post">
    <input type="hidden" asp-for="Product.WhiskeyId">
}
    <div class="form-group">
        <label asp-for="Product.Age"></label>
        <input asp-for="Product.Age" class="form-control"/>
        <label asp-for="Product.WhiskeyType"></label>
        <input asp-for="Product.WhiskeyType" class="form-control"/>
        <label asp-for="Product.Name"></label>
        <input asp-for="Product.Name" class="form-control">
        <label asp-for="Product.AlcoholPercentage"></label>
        <input asp-for="Product.AlcoholPercentage" class="form-control"/>
        <label asp-for="Product.Origin"></label>
        <input asp-for="Product.Origin" class="form-control"/>
        <span class="text-danger" asp-validation-for=Product.Name></span>
    </div>

    <button type="submit" class="btn btn-outline-primary">Confirm</button>
</form>

