@page
@{
    ViewData["Title"] = "NotFound";
}
<h1>Reservation was not found</h1>
<hr/>

<p> Either the link is old, or the products is not availabel anymore.</p>
<a asp-page="./List" class="btn btn-primary">View all reservations.</a>