@page
@model SjonnieLoper.Pages.Reservations.ListModel
@{
    ViewData["Title"] = "Reservations";
}

<h1>Reservations</h1>

<table class="table">
    @foreach (var order in Model.Reservations)
    {
        <tr>
            <td>@order.Id</td>
            <td>@order.CustomerOrder</td>
            <td>@order.Whiskey</td>
            <td>@order.Orderdate</td>
        </tr>
    }
</table>